.shelf {
    background-color: #544036;
    height: 20px;
    width: 100%;
}

.book-card {
    width: 145px;
    height: 220px;
    background-color: #e5e5e5;
    border-radius: 8px;
}

.current-page {
    font-weight: bold;
}

.progress {
    width: 100%;
    background-color: #E798974D;
}

.progress-bar {
    background-color: #E79897;
}