/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-yellow: #f6efd8;
  --secondary-green: #768e78;
  --black: #000;
  --darkbrown: #3D2F2A;
}

/* Global Colours */
.primary-yellow-bg {
  background-color: var(--primary-yellow);
}

.primary-green-bg {
  background-color: var(--secondary-green);
}

html,
body {
  min-height: 100%;
}

.auth-page {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-yellow);
}

.auth-page .primary-yellow-bg {
  background-color: transparent;
}

body {
  background-color: #f6efd8;
  font-family: "Inter", sans-serif;
}

/* Main content container size */
.page-container {
    max-width: 1100px; 
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Hyperlink */
a {
  color: #000000;
  text-decoration: none;
}

/* Text and divider */
p,
hr {
  color: #3d2f2a;
}

.navbar {
  background-color: #768e78;
  color: #f6efd8;
}

.site-name {
    font-family: 'Afacad', sans-serif;
}

.nav-site-name,
.nav-site-name:hover {
  font-family: 'Afacad', sans-serif;
  color: #f6efd8;
  font-size: x-large;
}

.nav-link,
.nav-link:hover {
  color: #f6efd8;
}

/* Buttons */
.btn-primary {
    background-color: #768E784D;
    color: #3D2F2A !important;
    border-color: #768E78;
}

.btn-primary-active,
.btn-primary:hover {
    background-color: #768E78 !important;
    border-color: #768E78 !important;
    color: #f6efd8 !important;
}

.form-control {
    border-radius: 8px;
    background-color: #f5efe0;
    border-color: #3D2F2A4D;
    padding: 10px;
    height: 35px;
    width: 350px;
}

.heading {
  text-align: center;
}