/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-yellow: #f6efd8;
  --secondary-green: #768e78;
  --black: #000;
  --darkbrown: #3D2F2A;
}

/* Global Colours */
.primary-yellow-bg {
  background-color: var(--primary-yellow);
}

.primary-green-bg {
  background-color: var(--secondary-green);
}

.auth-card,
.auth-card .form-label,
.auth-card .nav-link,
.auth-card a,
.auth-card .btn {
  color: var(--darkbrown);
}

.signin-left {
  border-radius: 10px;
  background-color: #768E78;
  color: #f5efe0 !important;
}

.signin-right {
  border-radius: 10px;
  background-color: #f5efe0;
  color: #768E78;
}

.signup-right {
  border-radius: 10px;
  background-color: #768E78;
  color: #f5efe0 !important;
}

.signup-left {
  border-radius: 10px;
  background-color: #f5efe0;
  color: #768E78;
}

.auth-card {
  width: min(100%, 440px) !important;
  border-radius: 0.5rem;
  background-color: #768E784D;
}

html,
body {
  min-height: 100%;
}

.auth-page {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-yellow);
}

.auth-page .primary-yellow-bg {
  background-color: transparent;
}

body {
    background-color: #F6EFD8;
    font-family: 'Inter', sans-serif;
}

/* Main content container size */
.container {
    max-width: 1100px;
    padding-left: 40px; 
    padding-right: 40px;
}

/* Hyperlink */
a {
    color:#000000;
    text-decoration: none;
}

/* Text and divider */
p, hr {
    color: #3D2F2A;
}

.navbar {
    background-color: #768E78;
    color: #F6EFD8;
}

.site-name {
    font-family: 'Afacad', sans-serif;
    color: #F6EFD8;
}

/* Buttons */
.btn-primary {
    background-color: #768E784D;
    color: #3D2F2A !important;
    border-color: #768E78;
}

.btn-primary-active,
.btn-primary:hover {
    background-color: #768E78 !important;
    border-color: #768E78 !important;
    color: #f6efd8 !important;
}

.form-control {
    border-radius: 8px;
    background-color: #f5efe0;
    border-color: #3D2F2A4D;
    padding: 10px;
    height: 35px;
    width: 350px;
}

.login-box {
  background-color: #f5efe0;
  padding: 8px;
  border-radius: 10px;
}

.heading {
  text-align: center;
}