<!doctype html>
<html>
  <head>
    <title>My Reviews</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
  </head>

  <body>
    {% include "navbar.html" %}

      <div class="page-container py-5">
        
        <h2>My Reviews</h2>
        <hr><br>

        {% if reviews %}
          {% for review in reviews %}

            <div class="mb-5">
              <div class="row align-items-start">
                <div class="col-12 col-md-2 text-center">

                  <a
                    href="{{ url_for('book_detail', book_id=review.book_id) }}"
                  >
                    <img
                      src="{{ review.cover_url }}"
                      alt="{{ review.book_title }}"
                      class="mini-book-card"
                    />
                  </a>

                </div>

                <div class="col-12 col-md-10">

                  <a
                    href="{{ url_for('book_detail', book_id=review.book_id) }}"
                    class="text-decoration-none text-reset"
                  >
                    <h5 class="mb-1">
                      {{ review.book_title }}
                    </h5>
                  </a>

                  <p class="text-muted mb-1">{{ review.author }}</p>

                  <p class="mb-2 star">

                    {% for i in range(review.stars) %}
                      ★
                    {% endfor %}

                    {% for i in range(5 - review.stars) %}
                      ☆
                    {% endfor %}
                  </p>

                  <p class="my-review-text review-collapsed" id="review-{{ loop.index }}">
                    {{ review.text }}
                  </p>

                  {% if review.text|length > 300 %}

                    <button
                      class="show-more-btn"
                      onclick="toggleSection('review-{{ loop.index }}', this)"
                    >
                      Show More
                    </button>

                  {% endif %}

                </div>
              </div>
            </div>

          {% endfor %}

        {% else %}

          <p>No reviews yet.</p>
        
        {% endif %}

      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/my-reviews.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search_suggestions.js') }}"></script>
        
  </body>
</html>