<!doctype html>
<html lang="en">
    <head>
        <title>My Books - Read</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mybooks.css') }}" />
    </head>
    <body>
        {% include "navbar.html" %}

        <div class="page-container py-5">
            <h2>My Books</h2>
            <hr>
            <div class="col-md-12 d-flex gap-4">
                <a class="current-page" href="{{ url_for('read') }}">Read ({{ counts.read }})</a>
                <a href="{{ url_for('currently_reading') }}">Currently Reading ({{ counts.currently_reading }})</a>
                <a href="{{ url_for('to_be_read') }}">To Be Read ({{ counts.to_be_read }})</a>
                <a href="{{ url_for('did_not_finish') }}">Did Not Finish ({{ counts.did_not_finish }})</a>
            </div>
            <hr><br>
            {% for row in shelf_rows %}
            <div class="shelf">
                <div class="row justify-content-start">
                {% for item in row %}
                <div class="col-md-2 col-6 mb-3">
                    <a href="{{ url_for('book_detail', book_id=item.book.id ) }}">
                        <div>
                            {% if item.book.cover_url %}
                            <img src="{{ item.book.cover_url }}" class="book-cover"/>
                            {% else %}
                            <div class="book-cover-placeholder">
                                {{ item.book.title }}
                            </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
                </div>

                <div class="shelf-line mb-5"></div>
            </div>
            {% endfor %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/search_suggestions.js') }}"></script>
    </body>

</html>